.sunmarino {
  .text-main {
    margin-top: 24px;
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    overflow-wrap: anywhere;
  }

  .text-footer {
    margin-top: 40px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    overflow-wrap: anywhere;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
  }
}

@media (min-width: 768px) {
  .sunmarino {
    .text-main {
      margin-top: 12px;
    }

    .text-footer {
      margin-top: 24px;
      text-align: left;
    }
  }
}
