.sunmarino {
  .sunmarino-header {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
  }

  .h2-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    overflow-wrap: anywhere;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
  }

  .text-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .sunmarino {
    .sunmarino-header {
      height: 180px;
    }

    .h2-header {
      height: 94px;
    }

    .text-header {
      height: 62px;
    }
  }
}

@media (min-width: 768px) {
  .sunmarino {
    .sunmarino-header {
      gap: 16px;
      margin-bottom: 24px;
    }

    .h2-header {
      font-size: 40px;
      line-height: 40px;
      text-align: left;
    }

    .text-header {
      text-align: left;
    }
  }
}

@media (min-width: 1200px) {
  .sunmarino {
    .sunmarino-header {
      height: 70px;
      gap: 16px;
      margin-bottom: 24px;
    }

    .h2-header {
      height: 40px;
    }

    .text-header {
      height: 14px;
    }
  }
}
