.sunmarino {
  .sunmarino-main-footer {
    margin-top: 24px;
  }

  .text-main {
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    overflow-wrap: anywhere;
  }

  .sunmarino-footer {
    margin-top: 40px;
  }

  .text-footer {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    overflow-wrap: anywhere;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .sunmarino {
    .text-footer {
      height: 134px;
    }
  }
}

@media (min-width: 768px) {
  .sunmarino {
    .sunmarino-main-footer {
      margin-top: 12px;
    }

    .sunmarino-footer {
      margin-top: 24px;
    }

    .text-footer {
      text-align: left;
    }
  }
}

@media (min-width: 1440px) {
  .sunmarino {
    .text-footer {
      height: 38px;
    }
  }
}
