.sunmarino {
  background-color: #f3f9ff;
}

.sunmarino {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 16px;
  color: #232323;
  font-family: var(--theme-font-family, "Museo_Sans", "Museo_Sans_Cyrill", sans-serif);

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :where(h2, h3, p, ul) {
    margin: 0;
    padding: 0;
  }

  :where(ul) {
    list-style: none;
  }

  .sunmarino-header,
  .sunmarino-main,
  .sunmarino-footer {
    width: 100%;
    max-width: 1360px;
    margin-inline: auto;
  }
}

@media (min-width: 768px) {
  .sunmarino {
    padding-inline: 32px;
  }
}
