.sunmarino {
  padding-block: 40px;
  padding-inline: 16px;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :where(h2, h3, p, ul) {
    margin: 0;
    padding: 0;
  }

  :where(ul) {
    list-style: none;
  }
}

@media (min-width: 993px) {
  .sunmarino {
    padding-inline: 0;
  }
}

.row-outer-container:has(.sunmarino) {
  background-color: var(--Base-color_Base_Light_Alt, #F3F9FF) !important;
}
